/* Small Devices (phones, 576px to 767px) */
@media (min-width: 576px) and (max-width: 767.98px) {

.navbar{
    grid-area: navbar;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
.main_content{
    grid-area: main_content;
}
.left_content{
    grid-area: left_content;
}
.right_content{
    grid-area: right_content;
}
.footer{
    grid-area: footer;
}


.grid_layout{
    display: grid;
    grid-template-areas: "navbar"
                         "main_content"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr 3rem;
    min-height: 100vh;
}
#home{
    scroll-margin-top: 3rem;
}

.nav_item, .footer{
    font-size: var(--m-subtitle-fs);
}
.nav_item h2{
    font-size: var(--m-title-fs);
}

/* nav styles */

.nav_item{
    display: grid;
    grid-template-columns: 1fr repeat(5,auto);
    grid-template-rows: 3rem;
    height: 3rem;
    align-items: center;
    column-gap: 2rem;
    padding: 0rem 2rem;
}
.nav_item > div:first-child{
    display: grid;
    align-items: center;
    justify-items: flex-start;
}
.menu, .menu_xs{
    display: none;
}

.main_content{
    display: grid;
    grid-template-areas: "home"
                         "abt"
                         "skills_container"
                         "projects";
    grid-template-rows: repeat(4,auto);
    grid-template-columns: 1fr;
}
.home{
    grid-area: home;
}
.abt{
    grid-area: abt;
}
.skills_details{
    grid-area: skills_details;
}
.projects{
    grid-area: projects;
}

.main_content .home{
    min-height: max-content;
    display: grid;
    grid-template-areas: "right_content"
                          "left_content";
    grid-template-rows: repeat(2,auto);
    grid-template-columns: 1fr;
}

/*intro style */

.left_content{
    display: grid;
    font-size: var(--m-heading-fs);
    align-content: center;
    padding: 0rem 1.8rem;
}
.intro{
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 20px;
    text-align: center;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.intro:hover{
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
}
.intro div:first-child{
    font-size: var(--m-heading-fs);
}
.left_content div:nth-of-type(2){
    font-size: var(--m-title-fs);
}
.left_content span{
    color: var(--highlight);
}
.contact_me{
    font-size: var(--m-title-fs);
}
.tag_line{
    display: grid;
    justify-content: center;
    width: fit-content;
    margin:auto;
    padding: 0.5rem 1rem;
    box-shadow: 1px 1px 4px var(--text);
}
.right_content{
    display: grid;
    grid-template-areas: "my_profile";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;   
}
.my_profile{
    grid-area: my_profile;
    max-width: 200px;
    height: 200px;
    margin: 2rem auto;
}
.profile{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
   
/*about styles*/

#abt{
    scroll-margin-top: 3rem;
}
.abt{
    min-height: fit-content;
}
.abt_me{
    display: grid;
    grid-template-areas: "abt_title"
                         "details";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
.abt_title{
    grid-area: abt_title;
}
.details{
    grid-area: details;
}
.abt_title{
    font-size: var(--m-heading-fs);
    color: var(--highlight);
    text-align: center;
    display: grid;
    justify-content: center;
    padding: 2rem 0rem;
    align-content: center;
}
.abt_title b{
    color: var(--text);
}
.details{
    display: grid;
    grid-template-areas: "edu_details"
                        "professional_details";
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    justify-content: center;
    height: max-content;
}
.edu_details{
    grid-area: edu_details;
}
.professional_details{
    grid-area: professional_details;
}
.edu_details div{
    padding: 2rem;
    margin: 0rem 2rem 2rem 2rem;
    font-size: var(--m-title-fs);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.edu_details ul{
    display: grid;
    justify-content: center;
    align-content: center;
    list-style-type: none;
}
.edu_details ul li{
    padding: 1rem 0rem;
    text-indent: 0px;
    display: grid;
    align-content: center;
}
.professional{
    display: grid;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
    padding: 2rem;
    margin: 0rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.professional p{
    font-size: var(--m-title-fs);
    color: var(--heading);
}
.edu_details div:hover{
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
}
.professional:hover{
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
}
.title{
    font-size: var(--m-title-fs);
}
.internship_details, .wrk_details{
    text-indent: 30px;
    font-size: var(--m-title-fs);
    padding-top: 10px;
}


/*skills styles*/

#skills{
    scroll-margin-top: 3rem;
}
.skills_container{
    min-height: fit-content;
    display: grid;
    grid-template-areas: "skills_details";
    grid-template-rows: 1fr;
}
.skills_details{
    grid-area: skills_details;
}
.skills_details{
    display: grid;
    grid-template-areas: "skills_title"
                          "skills";
    grid-template-rows: auto 1fr;
    align-content: center;
    padding: 0rem 2rem;
}
.skills_title{
    grid-area: skills_title;
    padding: 2rem 0rem;
    text-align: center;
    font-size: var(--m-heading-fs);
    color: var(--highlight);
}
.skills_title span{
    color: var(--text);
}
.skills{
    grid-area: skills;
}
.skills{
    display: grid;
    grid-template-areas: "frontend"
                          "tools"
                          "softskills";        
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    row-gap: 2rem;
}
.frontend{
    grid-area: frontend;
}
.tools{
    grid-area: tools;
}
.softskills{
    grid-area: softskills;
}
.skills ul{
    list-style-type: none;
    display: grid;
    justify-content: start;
    align-content: center;
    padding: 2rem;
    transform: scale(1);
    transition:transform 0.2s ease-in;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.1);
}
.skills ul li h2{
    font-weight: 200;
}
.skills ul li{
    text-align: left;
    padding: 0.5rem 0rem;
    font-size: var(--m-title-fs);
}
.skills ul:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.8);
}

/*project styles*/

#projects{
    scroll-margin-top: 3rem;
}
.project{
    width: 100vw;
    min-height: 90vh;
}
.project_title{
    padding:2rem 0rem;
    text-align: center;
    font-size: var(--m-heading-fs);
    color: var(--highlight);
}
.large_screen{
    display: grid;
    justify-content: center;
    align-items: center;
}
.portfolio{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-content: center;
    box-sizing: border-box;
    padding: 0rem 2rem;
    background-color: rgba(0, 51, 102,0.3);
}
.carosel{
    display: grid;
    grid-template-columns: 1fr;
    width: 80vw;
    margin: 2rem auto 2rem auto;
    min-height: auto;
    position: relative;
    border: 1px solid wheat;
    overflow: hidden;
}
.carosel_track{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    width: 100%;
}
.carosel_item{
    width: 80vw;
    min-height: 100%;
    display: grid;
}
.carosel_item img{
    width: 100%;
    height: 100%; 
    display: block;
}
.prevBtn{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: grid;
    padding: 0.5rem 0.6rem;
    font-size: 8px;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 9;
}
.nextBtn{
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 8px;
    transform: translateY(-50%);
    display: grid;
    padding: 0.5rem 0.6rem;
    border-radius: 50%;
    z-index: 9;
    border: 1px solid black;
}
.inactive{
  opacity: 0.5;
  pointer-events: none;
  box-shadow: none;
}


/* contact styles */

#contact{
    scroll-margin-top: 3rem;
}
.contact{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}
.contact_title{
    font-size: var(--m-heading-fs);
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 2rem 0rem;
}
.contacts{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-content: center;
    justify-content: center;
    margin: 0rem 2rem 2rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.contacts:hover{
    box-shadow: 1px 1px 4px var(--text);
}
.get_in_touch{
    display: grid;
    grid-template-rows: 1fr;
    font-size: var(--m-title-fs);
    text-align: justify;
    align-content: center;
    justify-content: center;
    padding: 2rem;
    row-gap: 2rem;
}
.get_in_touch h2{
    font-size: var(--l-subheading-fs);
    color: var(--highlight);
    text-align: center;
}
.get_in_touch span{
    color: var(--text);
}
.social_icons{
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-content: center;
    justify-content: center;
    column-gap: 2rem;
    font-size: var(--l-subtitle-fs);
}
.form{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: stretch;
    padding: 0rem 2rem 2rem;
}
.form input{
    min-height: 1rem;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5,auto);
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 1rem 0rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 0.5rem;
}
.form textarea{
    min-height: 1rem;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5,auto);
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 1rem 0rem;  
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 0.5rem;
}
.send{
    font-size: var(--m-content-fs);
    margin: 1rem 0rem;
}
.form input:active{
    border: none;
    box-shadow: 4px 4px 10px var(--highlight);
}
.form textarea:active{
    border: none;
    box-shadow: 4px 4px 10px var(--highlight);
}  



/* footer styles */

.footer{
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-content: center;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer_item{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    gap: 2rem;
}

}